
.vega-view {
  display: flex;

  .side-panel {
    min-width: 170px;
    padding: 10px 30px 10px 0;
    border-right: 1px solid $core_border;

    label {
      display: block;
      font-weight: 400;

      &:hover {
        font-weight: 500;
      }
    }
  }

  .vega-wrapper {
    padding: 10px;

    > * {
      vertical-align: middle;
    }

    .marks {
      margin-right: 1em;
    }

    .vega-bindings {
      font-size: 14px;
      line-height: 20px;
    }

    .vega-bind-name {
      display: inline-block;
      width: 105px;
    }

    .vega-bind {
      input[type="range"] {
        padding: 0;
      }

      select {
        max-width: 200px;
      }

      label {
        margin-left: 4px;
      }
    }

    .vega-bind-radio label {
      margin-left: 0;
      margin-right: 4px;
    }
  }
}
