<!doctype html>
<html>
<head>
    <title>Vega Gapminder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%=require('phovea_ui/dist/assets/favicon.png')%>">
    <%=require('phovea_ui/dist/template/_head.html')%>
</head>
<body>

<h3 style="margin: 5px;">Loading &hellip;</h3>

<%=require('phovea_ui/dist/template/_body.html')%>

</body>
</html>
